body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-box form {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 10px;
    background-color: var(--dark-purple);
    padding: 64px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px var(--burnt-orange);
    
}